# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/
dist/
build/

# Node / React
node_modules/
dist/
.env
.env.local
.env.production

# VSCode
.vscode/settings.json

# OS
.DS_Store
Thumbs.db